 # SYSTEM SUBMODULES
 
[submodule "packages/system/xotomicro-front-hook-system"]
	path = packages/system/xotomicro-front-hook-system
	url = https://github.com/xotomicro/xotomicro-front-hook-system.git
[submodule "packages/system/xotomicro-front-shell-system"]
	path = packages/system/xotomicro-front-shell-system
	url = https://github.com/xotomicro/xotomicro-front-shell-system.git
	
# SERVICES SUBMODULES
	
[submodule "packages/service/xotomicro-front-auth-service"]
	path = packages/service/xotomicro-front-auth-service
	url = https://github.com/xotomicro/xotomicro-front-auth-service.git
[submodule "packages/service/xotomicro-front-event-service"]
	path = packages/service/xotomicro-front-event-service
	url = https://github.com/xotomicro/xotomicro-front-event-service.git
[submodule "packages/service/xotomicro-front-order-service"]
	path = packages/service/xotomicro-front-order-service
	url = https://github.com/xotomicro/xotomicro-front-order-service.git
[submodule "packages/service/xotomicro-front-product-service"]
	path = packages/service/xotomicro-front-product-service
	url = https://github.com/xotomicro/xotomicro-front-product-service.git
[submodule "packages/service/xotomicro-front-user-service"]
	path = packages/service/xotomicro-front-user-service
	url = https://github.com/xotomicro/xotomicro-front-user-service.git
	
# REGISTRIES

[submodule "registries/xotomicro-front-design-registry"]
	path = registries/xotomicro-front-design-registry
	url = https://github.com/xotomicro/xotomicro-front-design-registry.git
[submodule "registries/xotomicro-front-utility-registry"]
	path = registries/xotomicro-front-utility-registry
	url = https://github.com/xotomicro/xotomicro-front-utility-registry.git
[submodule "registries/xotomicro-front-common-registry"]
	path = registries/xotomicro-front-common-registry
	url = https://github.com/xotomicro/xotomicro-front-common-registry.git
